.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(190, 190, 190, 0.811);
  
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(12, 133, 58, 0.6);
  /* border-radius: 100vh; */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(7, 81, 36, 0.87);
}

h1 {
  padding: 0;
  margin: 0;
}

.logo a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
}

.logo span {
  color: #919191;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: var(--bg-grey);
  padding: 1rem 5rem 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 15rem;
}

nav {
  display: flex;
  gap: 5rem;
  align-items: center;
}

nav a {
  text-decoration: none;
  margin-right: 40px;
  color: white;
}

#green {
  color: var(--green);
}

nav button {
  background-color: var(--green);
  color: black;
  border: none;
  padding: 8px 25px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.hero {
  background-color: var(--bg-grey);
  padding: 5rem 7rem 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero span {
  background-color: var(--green);
  padding: 5px;
  border-radius: 5px;
}

h1 {
  color: white;
  margin: 30px 0;
}

.hero p {
  color: #919191;
  margin-bottom: 40px;
}

.hero .text {
  margin-top: -70px;
}

.hero .text a {
  color: var(--green);
}

.hero img {
  width: 400px;
  margin-top: -30px;
}

.about {
  background-color: var(--bg-black);
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: -20px;
  display: flex;
  justify-content: space-evenly;
}

.about p {
  color: #9f9f9f;
  font-size: 0.8rem;
}

.left {
  width: 35%;
}

.left div {
  background-color: var(--bg-grey);
  padding: 10px 30px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.left div h2 {
  color: white;
}

.left img {
  float: right;
  width: 25px;
  margin-top: -50px;
}

.intro {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  width: 300px;
  margin: 30px 0;
}

.right {
  width: 35%;
  margin-top: -15px;
}

.right p {
  margin: 20px 0;
}

.lists {
  display: flex;
  color: #9f9f9f;
  justify-content: space-between;
  width: 70%;
  margin-left: -30px;
  font-size: 0.8rem;
}

.show_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide_modal {
  display: hidden;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: var(--bg-grey);
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  height: 70%;
  position: relative;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #9f9f9f;
}

.project-info {
  /* display: flex; */
}

.project-info .info {
  width: 100%;
  margin-right: 20px;
}

.modal .tags {
  padding-top: 15px;
}

.modal .arrows {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.lists li {
  margin-bottom: 10px;
}

.projects {
  background-color: var(--bg-grey);
  margin-top: -30px;
  font-size: 15px;
  padding: 60px 0;
  position: relative;
}

.projects h2 {
  color: #9f9f9f;
  margin-left: 140px;
}

.project-card {
  background-color: var(--bg-black);
  width: 80%;
  margin: 20px auto;
  display: flex;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  align-items: center;
  color: #9f9f9f;
}

.project-card .banner {
  margin: -50px 20px 0 20px;
  width: 130px;
}

.project-card p {
  margin: 25px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #707070;
  /* margin: 30px 10px 10px 0; */
  /* width: 10%; */
  border-radius: 5px;
  padding: 5px 10px;
  display: block; 
  color: #ddd;
}

.projects .links {
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.projects .demo {
  background-color: var(--green);
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  justify-items: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.projects .demo:hover {
  opacity: 0.7;
}

.projects .demo img {
  vertical-align: middle;
  margin-bottom: 2px;
  margin-right: 5px;
}

.projects .view {
  background-color: #6b6b6b;
  border-radius: 50%;
  height: 33px;
  width: 33px;

  border: none;
  /* padding: 5px 8px; */
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.projects .view:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.projects .github {
  background-color: transparent;
  border: none;
  justify-items: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.projects .github:hover {
  transform: scale3d(1.15, 1.15, 1.15);
}

.modal .links {
  border-top: 1px solid #9f9f9f;
  padding-top: 20px;
  margin: 20px 0;
  gap: 10px;
}

.modal .close {
  cursor: pointer;
}

.footer {
  background-color: #303031;
  margin-top: -30px;
  padding: 20px;
  padding-top: 40px;
  color: #9f9f9f;
  text-align: center;
}

.footer > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #9f9f9f;
  font-size: 13px;
}

.contact {
  /* width: 35%; */
  width: 55%;
  margin: 20px auto;
}

.contact p {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (max-width: 1024px) {
  .contact {
    width: 50%;
  }

  nav a {
    margin-right: 20px;
  }
}

@media screen and (max-width: 920px) {
  header {
    padding: 1rem 2rem 1rem 2rem;
  }

  nav a {
    display: none;
  }

  .hero {
    padding-right: 2rem;
    padding-left: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .modal {
    padding: 20px;
    width: 80%;
    height: 300px;
  }

  .left {
    width: 90%;
    margin: 10px auto;
  }
  .right {
    width: 90%;
    margin: 10px auto;
  }
  .left div {
    padding: 10px 20px;
  }
  .projects h2 {
    margin-left: 30px;
  }

  .project-card {
    width: 90%;
    font-size: 12px;
  }

  .contact {
    width: 65%;
  }
}

@media screen and (max-width: 740px) {
  .hero img {
    display: none;
  }

  .hero {
    padding-top: 7rem;
  }

  .modal {
    padding: 20px;
    width: 80%;
    height: 80%;
    overflow-y: scroll; 
  }

  .project-info .info {
    width: 100%;
  }
  
  .project-info {
    display: block;
  }

  .footer > div {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .contact {
    width: 100%;
  }

  .project-card {
    padding: 5px 20px 5px 0;
  }
}

@media screen and (max-width: 530px) {
  .hero {
    padding-top: 7rem;
  }

  .project-card {
    /* padding: 5px 20px 5px 0; */
    /* padding-left: -200px; */
    /* width: 98%; */
  }

  .projects p {
    font-size: 0.7rem;
    width: 80%;
  }

  .footer > div {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 430px) {
  header {
    justify-content: space-between;
    /* width: 70%; */
    padding: 1rem;
  }

  header .logo a {
    font-size: 1.3rem
  }

  h1 {
    font-size: 1.3rem;
  }

  .hero {
    padding-top: 7rem;
  }

  .hero .text {
    margin-left: -2rem;
  }

  .hero img {
    display: none;
  }

  .project-card {
    flex-direction: column;
  }

  .project-card .banner {
    margin: 20px 10px 0 10px;
  }

  .project-card {
    padding-left: 10px;
  }

  .projects {
    padding: 5px 0 40px 0;
  }

  .projects h2 {
    font-weight: 800;
    font-size: 1.6rem;
  }

  /* .contact {
    width: 100%;
  } */
}

@media screen and (max-width: 350px) {

  nav button {
    background-color: var(--green);
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
  }
}
